@import 'src/styles/colors';
@import 'src/styles/variables';
@import 'src/styles/mixins';

.filter-bar {
    position: relative;

    &__content {
        display: flex;
        align-items: center;
    }

    &__content.space-between {
        justify-content: space-between;
    }

    &__content.flex-end {
        justify-content: flex-end;
    }

    &__add {
        @include text(16px, 400, 100%, none, none, $white);
        padding: 8px;
        cursor: pointer;
        transition: $transition;
    }

    &__add:hover {
        opacity: 0.5;
    }

    &__icon-box {
        padding: 8px;
        cursor: pointer;
    }

    &__icon {
        fill: $white;
        transition: $transition;
    }

    &__icon-box:hover &__icon {
        opacity: 0.5;
    }
}