@import 'src/styles/colors';
@import 'src/styles/variables';
@import 'src/styles/mixins';

.filter {
    padding: 8px;
    border-radius: 6px;
    transition: $transition;
    background-color: $black;
    position: absolute;
    top: 50px;
    right: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;

    &.is-opened {
        height: 100px;
        visibility: visible;
        opacity: 1;
    }
}