@import './src/styles/colors';
@import './src/styles/variables';
@import './src/styles/mixins';

.input-search {

  &__label {

  }

  &__element {
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 6px;
    @include text(16px, 400, 100%, none, none, $black);
  }
}