@import 'src/styles/colors';
@import 'src/styles/variables';
@import 'src/styles/mixins';

.search {
  margin-top: 48px;

  & .container {
    @include container();
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 6px;
    background-color: $black;
  }
}